WEB_CONTAINER_NAME=openxe-web
WEB_PORT=8081
WEB_VOLUME=./openxe

DB_CONTAINER_NAME=openxe-db
DB_PORT=3307
DB_VOLUME=./db_data

MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=openxe
MYSQL_USER=openxeuser
MYSQL_PASSWORD=change-password

BACKUP_CONTAINER_NAME=openxe-backup
BACKUP_VOLUME=./backup

